.recipesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../Assets/food.jpg');
    background-color: #FFFAFC;
    background-repeat: no-repeat;
    background-size: contain;
}



.recipeSearch{
   display: flex; 
}